<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>页面拖拽哦哦哦哦</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../../src/components/common/css/component.css">
</head>

<body>
    <div class="wrapper">
        <div class="container">
        	<p>~可以拖拽到这里哦~</p>
        </div>
        <div id="componentCollection">
            <p>请拖拽下方组件到左侧</p>
            <ul>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="../js/utils/utils.js"></script>
    <script type="text/javascript" src="../../src/components/common/js/component.js"></script>
    <script type="text/javascript" src="../../src/components/horizontalComponent/js/horizontal.js"></script>
    <script type="text/javascript" src="../../src/components/verticalComponent/js/vertical.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
</body>

</html>
